.DS_Store
.binstubs/
.bundle/
.gems/
.capistrano/
.env
.idea/
.rspec-local
.rvmrc
.ruby-version
.yardoc/
*.sublime-*
config/database.yml
coverage
doc/
vendor/
log/*.log

# Config gem files
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

