<div class="content">
  <p>Welcome to DPN Synchronization!  If you're seeing this page, the
  application dashboard is working as expected.
  This application is powered by <a href="http://sidekiq.org/">Sidekiq</a>
  background jobs, which must be started. For more information, see the README.</p>
  <ul style="list-style: square;">
    <li><a href="/sidekiq">Sidekiq Dashboard</a></li>
    <li><a href="/test">Test Page</a></li>
  </ul>
</div>

<div class="sidebar">
  <h3>Environment</h3>
  <ul style="list-style: none;">
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
  </ul>

  <a href="http://c7.github.com/hazel/"><img src="/images/hazel_small.png" alt="Hazel" /></a>
</div>
