# To develop with different settings, use settings.local.yml

log_level: info

# Create test cluster nodes and use those node parameters here,
# @see https://github.com/dpn-admin/dpn-server/blob/master/Cluster.md
local_namespace: aptrust
nodes:
  -
    namespace: aptrust
    api_root: http://localhost:3001
    auth_credential: aptrust_token
  -
    namespace: chron
    api_root: http://localhost:3002
    auth_credential: chron_token
  -
    namespace: hathi
    api_root: http://localhost:3003
    auth_credential: hathi_token
  -
    namespace: sdr
    api_root: http://localhost:3004
    auth_credential: sdr_token
  -
    namespace: tdr
    api_root: http://localhost:3005
    auth_credential: tdr_token

# Settings for DPN::Workers::BagReplicator
replication:
  staging_dir: a_staging_path
  storage_dir: a_storage_path
  ssh_identity_file: a_path_to_ssh_public_key_file

sidekiq:
  # How many background jobs in the schedule queue are reasonable before
  # alarms raise attention from system or developer teams?
  acceptable_queue_size: 250
  # An acceptable response time could be several minutes.
  # This value is in seconds.
  acceptable_queue_latency: 300
  # The redis namespace for test messages
  test_message_store: dpn-test-timestamps
