# Schedule for sidekiq-cron; see
# https://github.com/ondrejbartas/sidekiq-cron
# https://buildtoship.com/schedule-recurring-jobs-with-sidekiq-4/

# cron notation: http://www.nncron.ru/help/EN/working/cron-format.htm
# * * * * * *
# | | | | | |
# | | | | | +-- Year              (range: 1900-3000)
# | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
# | | | +------ Month of the Year (range: 1-12)
# | | +-------- Day of the Month  (range: 1-31)
# | +---------- Hour              (range: 0-23)
# +------------ Minute            (range: 0-59)

# SyncBags every 30 mins
sync_bags:
  cron: "*/30 * * * *"
  class: "DPN::Workers::SyncWorker"
  queue: sync_bags
  args:
    content: "bags"

# SyncNodes every 15 mins
sync_nodes:
  cron: "*/15 * * * *"
  class: "DPN::Workers::SyncWorker"
  queue: sync_nodes
  args:
    content: "nodes"

# example_job:
#   cron: "*/30 * * * *"
#   class: "HardWorker"
#   queue: hard_worker_long
#   args:
#     hard: "stuff"
